{# templates/login/index.html.twig #}
{% extends 'base.html.twig' %}

{# ... #}

{% block body %}
<style>
/* Estilos generales para el formulario de login */
form {
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f8f8f8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para las etiquetas y campos de entrada */
form label {
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
  color: #333;
}

form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

/* Estilos para el botón de enviar */
form button {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
}

form button:hover {
  background-color: #45a049;
}

/* Estilos para el enlace de registro */
h6 {
  text-align: center;
  color: #333;
  font-size: 16px;
  margin-top: 15px;
}

a {
  display: block;
  text-align: center;
  margin-top: 10px;
  text-decoration: none;
  color: #4caf50;
  font-weight: bold;
  font-size: 16px;
}

a:hover {
  text-decoration: underline;
}
</style>

    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    

    <h1 style="text-align:center;">Bienvenido al inicio de sesion</h1>
    <form action="{{ path('login') }}" method="post">
        <label for="username">Email:</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}">

        <label for="password">Password:</label>
        <input type="password" id="password" name="_password">

        <input type="hidden" name="_target_path" value="{{ path('app_tareas') }}"> 
        <button type="submit">login</button>
        <h6>¿Aun no estas registrado?</h6>
        <a href="{{path('registroUser')}}">Registrate</a>
        
    </form>
{% endblock %}
